@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table, tr, th, td, table, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'GothaProReg';
  src: url("../fonts/GothaProReg.eot");
  src: url("../fonts/GothaProReg.eot") format("embedded-opentype"), url("../fonts/GothaProReg.woff2") format("woff2"), url("../fonts/GothaProReg.woff") format("woff"), url("../fonts/GothaProReg.ttf") format("truetype"), url("../fonts/GothaProReg.svg#GothaProReg") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'GothaProBold';
  src: url("../fonts/GothaProBol.eot");
  src: url("../fonts/GothaProBol.eot") format("embedded-opentype"), url("../fonts/GothaProBol.woff2") format("woff2"), url("../fonts/GothaProBol.woff") format("woff"), url("../fonts/GothaProBol.ttf") format("truetype"), url("../fonts/GothaProBol.svg#GothaProBol") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'GothaProBlack';
  src: url("../fonts/GothaProBla.eot");
  src: url("../fonts/GothaProBla.eot") format("embedded-opentype"), url("../fonts/GothaProBla.woff2") format("woff2"), url("../fonts/GothaProBla.woff") format("woff"), url("../fonts/GothaProBla.ttf") format("truetype"), url("../fonts/GothaProBla.svg#GothaProBla") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#roboto") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoBold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotoBold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #1b1b1b;
  min-width: 320px; }

.inner {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .inner:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 800px) {
    .inner {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; }
      .inner:after {
        content: " ";
        display: block;
        clear: both; } }

h1 {
  font-family: "robotoBold", sans-serif;
  font-size: 22px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 10; }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 72px;
      line-height: 60px; } }
  h1 + p {
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 10; }
    @media screen and (min-width: 800px) {
      h1 + p {
        margin-bottom: 32px;
        font-size: 36px;
        line-height: 66px; } }

h2 {
  font-family: "roboto", sans-serif;
  color: #1b1b1b;
  font-size: 18px;
  text-transform: uppercase;
  padding: 26px 0px 28px 0px; }
  @media screen and (min-width: 800px) {
    h2 {
      font-size: 48px;
      padding: 76px 0px 56px 0px; } }
  h2 b, h2 strong {
    font-family: "robotoBold", sans-serif; }

b, strong {
  font-family: "robotoBold", sans-serif; }

@media screen and (min-width: 800px) {
  .test {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left; }
    .test:last-child {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.33333%;
      float: right; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  font-family: "roboto", sans-serif;
  resize: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

input {
  font-family: "roboto", sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

button, input[type="reset"], input[type="button"], input[type="submit"] {
  -webkit-box-shadow: none;
  box-shadow: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  font-family: "roboto", sans-serif; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: "roboto", sans-serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "roboto", sans-serif; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "roboto", sans-serif; }

::-ms-input-placeholder {
  /* Edge */
  font-family: "roboto", sans-serif; }

:placeholder-shown {
  /* Standard one last! */
  font-family: "roboto", sans-serif; }

.hide {
  display: none; }

.captcha {
  overflow: hidden; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxContent {
  -webkit-border-radius: 5px;
  border-radius: 5px; }

#cboxOverlay {
  background: #070e12;
  opacity: 0.4;
  filter: alpha(opacity=90); }

#colorbox {
  outline: 0; }

#cboxTopLeft {
  width: 14px;
  height: 14px; }

#cboxTopCenter {
  height: 14px; }

#cboxTopRight {
  width: 14px;
  height: 14px; }

#cboxBottomLeft {
  width: 14px;
  height: 43px; }

#cboxBottomCenter {
  height: 43px; }

#cboxBottomRight {
  width: 14px;
  height: 43px; }

#cboxMiddleLeft {
  width: 14px; }

#cboxMiddleRight {
  width: 14px; }

#cboxContent {
  background: #fff;
  overflow: visible; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  margin-bottom: 5px; }

#cboxLoadingOverlay {
  background: url(../image/colorbox/loading_background.png) no-repeat center center; }

#cboxLoadingGraphic {
  background: url(../image/colorbox/loading.gif) no-repeat center center; }

#cboxTitle {
  position: absolute;
  bottom: -25px;
  left: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #7C7C7C; }

#cboxCurrent {
  position: absolute;
  bottom: -25px;
  left: 58px;
  font-weight: bold;
  color: #7C7C7C; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  bottom: -29px;
  background: url(../image/colorbox/controls.png) no-repeat 0px 0px;
  width: 23px;
  height: 23px;
  text-indent: -9999px; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxPrevious {
  left: 0px;
  background-position: -51px -25px; }

#cboxPrevious:hover {
  background-position: -51px 0px; }

#cboxNext {
  left: 27px;
  background-position: -75px -25px; }

#cboxNext:hover {
  background-position: -75px 0px; }

#cboxClose {
  background: url(../images/popup-close.png) no-repeat 0px 0px;
  bottom: auto;
  width: 19px;
  height: 19px;
  top: 10px;
  right: 10px;
  background-position: 0px 0px;
  background-size: 100%;
  opacity: 0.8; }
  @media screen and (min-width: 800px) {
    #cboxClose {
      width: 37px;
      height: 37px;
      top: 16px;
      right: 20px; } }

#cboxClose:hover {
  opacity: 1; }

.cboxSlideshow_on #cboxSlideshow {
  background-position: -125px 0px;
  right: 27px; }

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -150px 0px; }

.cboxSlideshow_off #cboxSlideshow {
  background-position: -150px -25px;
  right: 27px; }

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -125px 0px; }

.header {
  position: relative;
  padding: 42px 0px 0px 0px;
  min-height: 350px; }
  @media screen and (min-width: 800px) {
    .header {
      padding: 0px; } }
  .header_top {
    *zoom: 1;
    position: relative;
    z-index: 10; }
    .header_top:before, .header_top:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .header_top:after {
      clear: both; }
    @media screen and (min-width: 800px) {
      .header_top {
        border-bottom: 1px solid #6d6e6d;
        padding-bottom: 5px; } }
  .header_logo {
    display: none;
    padding-top: 12px;
    text-align: left; }
    @media screen and (min-width: 800px) {
      .header_logo {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: right;
        display: block; } }
  @media screen and (min-width: 800px) {
    .header_address {
      padding-top: 29px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.66667%;
      float: right; } }
  @media screen and (min-width: 800px) {
    .header_phone {
      padding-top: 29px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: right; } }

.slider {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }
  .slider .bx-viewport, .slider .bx-wrapper {
    position: relative;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0; }
  .slider .bx-wrapper .bx-viewport {
    border: none !important; }
  .slider .bx-controls {
    position: absolute;
    z-index: 100;
    bottom: 17px;
    width: 100%; }
    @media screen and (min-width: 800px) {
      .slider .bx-controls {
        bottom: 27px; } }
  .slider .bx-pager {
    width: 100%;
    text-align: center; }
  .slider .bx-pager-item {
    display: inline-block;
    margin: 0px 10px; }
  .slider .bx-pager-link {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
    height: 7px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.35; }
    .slider .bx-pager-link.active, .slider .bx-pager-link:hover {
      background-color: #fff; }
    @media screen and (min-width: 800px) {
      .slider .bx-pager-link {
        width: 140px; } }
  .slider_list {
    height: 100% !important; }
  .slider_item {
    height: 100% !important;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed; }
    .slider_item__1 {
      background-image: url("../images/header-bac-480-4.jpg"); }
      @media screen and (min-width: 800px) {
        .slider_item__1 {
          background-image: url("../images/header-bac-1920-4.jpg"); } }
    .slider_item__2 {
      background-image: url("../images/header-bac-480-2.jpg"); }
      @media screen and (min-width: 800px) {
        .slider_item__2 {
          background-image: url("../images/header-bac-1920-2.jpg"); } }
    .slider_item__3 {
      background-image: url("../images/header-bac-480-3.jpg"); }
      @media screen and (min-width: 800px) {
        .slider_item__3 {
          background-image: url("../images/header-bac-1920-3.jpg"); } }
    .slider_item__4 {
      background-image: url("../images/header-bac-480-1.jpg"); }
      @media screen and (min-width: 800px) {
        .slider_item__4 {
          background-image: url("../images/header-bac-1920-1.jpg"); } }

.logo {
  /*white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background: url('../images/wfs.png') no-repeat;*/ }
  .logo_image {
    width: 100%;
    max-width: 293px;
    height: auto; }

.address {
  margin-bottom: 145px;
  text-align: center;
  font-size: 10px;
  color: #fff; }
  @media screen and (min-width: 800px) {
    .address {
      font-size: 19px;
      margin: 0px; } }

.phone {
  text-align: center;
  font-size: 14px;
  color: #fff; }
  .phone span {
    font-family: "robotoBold", sans-serif; }
  @media screen and (min-width: 800px) {
    .phone {
      font-size: 19px;
      text-align: right; } }

.menu {
  position: relative;
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 37px;
  opacity: 0.95;
  overflow: hidden;
  -webkit-transition-property: background-color, height;
  transition-property: background-color, height;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.5s, 0s;
  transition-delay: 0.5s, 0s; }
  @media screen and (min-width: 800px) {
    .menu {
      margin-bottom: 138px; } }
  .menu_toggle {
    display: block;
    width: 28px;
    height: 17px;
    margin: 11px auto 0px auto; }
    @media screen and (min-width: 800px) {
      .menu_toggle {
        display: none; } }
    .menu_toggle span:after, .menu_toggle span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px; }
    .menu_toggle span:after {
      top: 12px; }
    .menu_toggle span {
      position: relative;
      display: block; }
    .menu_toggle span, .menu_toggle span:after, .menu_toggle span:before {
      width: 100%;
      height: 5px;
      background-color: #fff;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .menu_toggle__on span {
      background-color: transparent; }
    .menu_toggle__on span:before {
      -webkit-transform: rotate(30deg) translate(0px, 0px);
      -ms-transform: rotate(30deg) translate(0px, 0px);
      transform: rotate(30deg) translate(0px, 0px); }
    .menu_toggle__on span:after {
      -webkit-transform: rotate(-30deg) translate(3px, -5px);
      -ms-transform: rotate(-30deg) translate(3px, -5px);
      transform: rotate(-30deg) translate(3px, -5px); }
  @media screen and (min-width: 800px) {
    .menu {
      position: static;
      height: auto; } }
  .menu__on {
    height: 100%;
    background-color: #000000;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s; }
  .menu_list {
    margin-top: 40px; }
    @media screen and (min-width: 800px) {
      .menu_list {
        margin: 0px;
        text-align: justify;
        line-height: 0;
        font-size: 1px;
        *text-justify: newspaper;
        *zoom: 1;
        -moz-text-align-last: justify;
        text-align-last: justify; }
        .menu_list:after {
          width: 100%;
          height: 0px;
          visibility: hidden;
          overflow: hidden;
          content: '';
          display: inline-block; } }
  .menu_item {
    text-align: center; }
    @media screen and (min-width: 800px) {
      .menu_item {
        display: inline-block;
        text-align: left;
        /* Востанавливаем у потомков, кроме последнего*/
        line-height: normal;
        /* Без него в Opera будет отступ под элементами */
        vertical-align: top;
        /* эмуляция inline-block для IE6-7*/
        *display: inline;
        *zoom: 1; } }
  .menu_link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 36px; }
    .menu_link:link {
      color: #fff; }
    .menu_link:visited {
      color: #fff; }
    .menu_link:hover {
      color: #ccc; }
    .menu_link:active {
      color: #fff; }
    @media screen and (min-width: 800px) {
      .menu_link {
        font-size: 15px;
        line-height: 45px; } }

.button {
  position: relative;
  z-index: 10;
  display: inline-block;
  padding: 0px 27px 6px 27px;
  border: none;
  border-left: 1px solid #e90f51;
  border-right: 1px solid #e90f51;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-size: 18px;
  line-height: 47px;
  color: #fff;
  text-decoration: none;
  background-color: #bc0a39;
  background-image: url("../images/button-mobile-bac.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%; }
  .button:link {
    color: #fff; }
  .button:visited {
    color: #fff; }
  .button:hover {
    color: #fff; }
  .button:active {
    color: #fff; }
  @media screen and (min-width: 800px) {
    .button {
      padding: 0px 55px 6px 55px;
      font-size: 30px;
      line-height: 71px;
      background-image: url("../images/button-bac.jpg"); } }
  .button:hover {
    background-image: url("../images/button-mobile-bac-h.jpg");
    cursor: pointer; }
    @media screen and (min-width: 800px) {
      .button:hover {
        background-image: url("../images/button-bac-h.jpg"); } }

.about {
  padding-bottom: 10px; }
  @media screen and (min-width: 800px) {
    .about {
      padding-bottom: 15px; } }
  .about_p {
    font-size: 18px;
    line-height: 21px;
    max-width: 200px;
    margin: 7px auto 19px auto; }
  @media screen and (min-width: 800px) {
    .about_item {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 20%;
      float: left; } }

.portfolio {
  padding-bottom: 35px;
  background-color: #131418;
  background: -webkit-radial-gradient(center ellipse, #3d414f 0%, #131418 100%);
  background: radial-gradient(ellipse at center, #3d414f 0%, #131418 100%); }
  @media screen and (min-width: 800px) {
    .portfolio {
      padding-bottom: 70px; } }
  .portfolio h2 {
    color: #ffffff; }
  .portfolio_inner {
    *zoom: 1;
    margin: 0px 0px 28px 0px; }
    .portfolio_inner:before, .portfolio_inner:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .portfolio_inner:after {
      clear: both; }
    @media screen and (min-width: 800px) {
      .portfolio_inner {
        border: 1px solid #000;
        margin: 0px 0px 70px 0px; } }
  .portfolio_item {
    display: block;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: -1px auto 0px auto;
    position: relative; }
    .portfolio_item:before {
      content: "";
      position: absolute;
      z-index: 20;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border: 1px solid #000; }
    .portfolio_item img {
      display: block;
      width: 100%;
      height: auto; }
    .portfolio_item:hover:before {
      border: 10px solid #fcc400;
      border-bottom-width: 9px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    .portfolio_item:hover img {
      opacity: 0.5; }
    .portfolio_item:hover + .portfolio_item:before {
      border-top-color: #fcc400; }
    .portfolio_item:nth-child(6n) img {
      height: 100%;
      width: auto; }
    @media screen and (min-width: 800px) {
      .portfolio_item {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: right;
        height: auto;
        margin: 0px;
        border: none;
        position: relative;
        z-index: 5;
        overflow: visible; }
        .portfolio_item:first-child {
          border: none; }
          .portfolio_item:first-child:hover {
            border-color: #fcc400; }
        .portfolio_item:hover {
          border-color: #fcc400;
          outline: none;
          z-index: 10; }
          .portfolio_item:hover:before {
            content: "";
            position: absolute;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            border: 10px solid #fcc400;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            background: url("../images/portfolio-view.png") 50% 50% no-repeat; }
          .portfolio_item:hover img {
            opacity: 0.5; }
          .portfolio_item:hover + .portfolio_item:before {
            border-top-color: #000; }
        .portfolio_item:nth-child(6n-1) {
          float: left; }
        .portfolio_item:nth-child(6n) {
          width: 66.6667%; }
          .portfolio_item:nth-child(6n) img {
            height: auto;
            width: 100%; }
          .portfolio_item:nth-child(6n) + .portfolio_item {
            clear: both; } }
  .portfolio_button {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 300px;
    padding: 0px 0px 6px 0px;
    border: none;
    border-left: 1px solid #e90f51;
    border-right: 1px solid #e90f51;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 15px;
    line-height: 47px;
    color: #fff;
    text-decoration: none;
    background-color: #bc0a39;
    background-image: url("../images/button-mobile-bac.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%; }
    .portfolio_button:link {
      color: #fff; }
    .portfolio_button:visited {
      color: #fff; }
    .portfolio_button:hover {
      color: #fff; }
    .portfolio_button:active {
      color: #fff; }
    @media screen and (min-width: 800px) {
      .portfolio_button {
        width: auto;
        padding: 0px 55px 6px 55px;
        font-size: 30px;
        line-height: 71px;
        background-image: url("../images/button-bac.jpg"); } }
    .portfolio_button:hover {
      background-image: url("../images/button-mobile-bac-h.jpg");
      cursor: pointer; }
      @media screen and (min-width: 800px) {
        .portfolio_button:hover {
          background-image: url("../images/button-bac-h.jpg"); } }

.certificates {
  padding-bottom: 10px; }
  @media screen and (min-width: 800px) {
    .certificates {
      padding-top: 17px;
      padding-bottom: 60px; } }
  .certificates_item {
    width: 263px;
    margin: 0 auto 16px auto; }
    @media screen and (min-width: 800px) {
      .certificates_item {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: left;
        margin: 0 auto 41px auto;
        padding: 7px; } }
    .certificates_item img {
      display: block;
      width: 100%;
      height: auto;
      -webkit-box-shadow: 15px 15px 28px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 15px 15px 28px -5px rgba(0, 0, 0, 0.4); }
  .certificates_more {
    font-size: 22px;
    display: none; }
    @media screen and (min-width: 800px) {
      .certificates_more {
        display: block; } }
    .certificates_more a {
      display: inline-block;
      padding: 4px 9px 9px 9px;
      color: #ce0137;
      text-decoration: none;
      border: 1px dashed #ce0137;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
      .certificates_more a:link {
        color: #ce0137; }
      .certificates_more a:visited {
        color: #ce0137; }
      .certificates_more a:hover {
        color: #ce0137; }
      .certificates_more a:active {
        color: #ce0137; }

.call {
  padding: 23px 0px 15px 0px;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 16px; }
  @media screen and (min-width: 800px) {
    .call {
      max-width: 960px;
      padding: 53px 0px 45px 0px;
      margin: 0 auto;
      font-size: 36px;
      line-height: 44px;
      -webkit-border-radius: 5px;
      border-radius: 5px; } }
  .call_phone {
    font-family: "robotoBold", sans-serif;
    font-size: 36px;
    line-height: 66px;
    color: #ce0137; }

.magazines {
  padding-top: 30px;
  *zoom: 1; }
  .magazines:before, .magazines:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .magazines:after {
    clear: both; }
  @media screen and (min-width: 800px) {
    .magazines {
      padding-bottom: 35px; } }
  .magazines_item {
    width: 280px;
    margin: 0 auto;
    padding-bottom: 38px; }
    @media screen and (min-width: 800px) {
      .magazines_item {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 55px;
        padding-right: 55px; } }
    .magazines_item img {
      width: 100%;
      height: auto; }
  .magazines_descr {
    font-size: 16px;
    line-height: 17px;
    color: #1b1b1b;
    margin-bottom: 23px; }
    @media screen and (min-width: 800px) {
      .magazines_descr {
        font-size: 18px;
        line-height: 18px;
        padding: 0px 35px;
        margin-bottom: 13px; } }
  .magazines_link {
    font-size: 18px;
    padding: 1px 8px 5px 8px;
    color: #ce0137;
    text-decoration: none;
    border: 1px dashed #ce0137;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .magazines_link:link {
      color: #ce0137; }
    .magazines_link:visited {
      color: #ce0137; }
    .magazines_link:hover {
      color: #ce0137; }
    .magazines_link:active {
      color: #ce0137; }

.orders_title {
  font-size: 18px;
  line-height: 21px;
  color: #1b1b1b;
  margin-bottom: 16px; }
  @media screen and (min-width: 800px) {
    .orders_title {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 24px; } }

.orders_item {
  width: 280px;
  margin: 0 auto 20px auto; }
  .orders_item form {
    padding: 23px 10px 29px 10px;
    border: 10px solid #ececec;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    @media screen and (min-width: 800px) {
      .orders_item form {
        padding: 28px 33px 39px 33px; } }
  @media screen and (min-width: 800px) {
    .orders_item {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 0px 10px;
      margin-bottom: 70px; } }

.orders_inner {
  margin-bottom: 10px; }
  .orders_inner input {
    padding: 0px 7px;
    border: 1px solid #c9c7c7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 36px;
    width: 100%; }
    .orders_inner input.error {
      border-color: red;
      -webkit-box-shadow: 0px 0px 2px 0px red;
      box-shadow: 0px 0px 2px 0px red; }
    @media screen and (min-width: 800px) {
      .orders_inner input {
        font-size: 18px;
        line-height: 68px;
        padding: 0px 20px; } }

.orders_submit {
  position: relative; }
  .orders_submit input {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 0px 14px 6px 14px;
    border: none;
    border-left: 1px solid #e90f51;
    border-right: 1px solid #e90f51;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 15px;
    line-height: 47px;
    color: #fff;
    text-decoration: none;
    background-color: #bc0a39;
    background-image: url("../images/button-mobile-bac.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%; }
    .orders_submit input:link {
      color: #fff; }
    .orders_submit input:visited {
      color: #fff; }
    .orders_submit input:hover {
      color: #fff; }
    .orders_submit input:active {
      color: #fff; }
    @media screen and (min-width: 800px) {
      .orders_submit input {
        padding: 0px 0px 6px 0px;
        font-size: 23px;
        line-height: 71px;
        background-image: url("../images/button-bac.jpg"); } }
    .orders_submit input:hover {
      background-image: url("../images/button-mobile-bac-h.jpg");
      cursor: pointer; }
      @media screen and (min-width: 800px) {
        .orders_submit input:hover {
          background-image: url("../images/button-bac-h.jpg"); } }
  .orders_submit .ajax-progress {
    position: absolute;
    z-index: 11;
    top: 50%;
    right: -28px;
    margin-top: -8px; }
    @media screen and (min-width: 800px) {
      .orders_submit .ajax-progress {
        right: -30px;
        margin-top: -10px; } }
    .orders_submit .ajax-progress .throbber {
      background: transparent url("../images/popup-loader.gif") no-repeat 0px 0px;
      float: left;
      height: 25px;
      width: 25px;
      margin: 0px; }

.orders .messages {
  display: none; }

.tarifs {
  background-color: #131418;
  padding-bottom: 30px; }
  @media screen and (min-width: 800px) {
    .tarifs {
      background: -webkit-radial-gradient(center ellipse, #3d414f 0%, #131418 100%);
      background: radial-gradient(ellipse at center, #3d414f 0%, #131418 100%); } }
  .tarifs h2 {
    color: #ffffff; }
  .tarifs_inner {
    *zoom: 1; }
    .tarifs_inner:before, .tarifs_inner:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .tarifs_inner:after {
      clear: both; }
  .tarifs_item {
    width: 280px;
    margin: 0px auto 30px auto;
    padding: 60px 0px 30px 0px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden; }
    @media screen and (min-width: 800px) {
      .tarifs_item {
        width: 32.24638%;
        float: left;
        margin-left: 0.54348%;
        margin-right: 0.54348%; } }
  .tarifs_h3 {
    font-family: "robotoBold", sans-serif;
    font-size: 16px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 20; }
    @media screen and (min-width: 800px) {
      .tarifs_h3 {
        font-size: 20px; } }
    .tarifs_h3__red {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      .tarifs_h3__red:before {
        content: "";
        background-color: #c20034;
        position: absolute;
        left: -50%;
        top: 0px;
        width: 200%;
        height: 100%;
        z-index: -1;
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg); }
    .tarifs_h3__yellow {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      .tarifs_h3__yellow:before {
        content: "";
        background-color: #fcc400;
        position: absolute;
        left: -50%;
        top: 0px;
        width: 200%;
        height: 100%;
        z-index: -1;
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg); }
    .tarifs_h3__green {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      .tarifs_h3__green:before {
        content: "";
        background-color: #04858a;
        position: absolute;
        left: -50%;
        top: 0px;
        width: 200%;
        height: 100%;
        z-index: -1;
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg); }
  .tarifs_p {
    font-size: 30px;
    line-height: 60px;
    margin-top: -25px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
    position: relative;
    z-index: 10;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
    .tarifs_p:before {
      content: "";
      background-color: #f5f5f5;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 87%;
      height: 100%;
      z-index: -1;
      -webkit-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
      transform: rotate(6deg);
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .tarifs_p__red {
      color: #c20034; }
    .tarifs_p__yellow {
      color: #fcc400; }
    .tarifs_p__green {
      color: #04858a; }
    .tarifs_p span {
      font-family: "robotoBold", sans-serif; }
  .tarifs_list {
    padding: 0px 15px;
    margin-bottom: 12px; }
    @media screen and (min-width: 800px) {
      .tarifs_list {
        padding: 0px 11px; } }
  .tarifs_row {
    color: #131418;
    font-size: 16px;
    line-height: 19px;
    border-top: 1px solid #ebebeb;
    padding: 11px 0px 14px 0px;
    text-align: left; }
    .tarifs_row:first-child {
      border: none; }
    @media screen and (min-width: 800px) {
      .tarifs_row {
        padding: 11px 20px 14px 20px; } }
  .tarifs_button {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 0px 27px 6px 27px;
    border: none;
    border-left: 1px solid #e90f51;
    border-right: 1px solid #e90f51;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 18px;
    line-height: 47px;
    color: #fff;
    text-decoration: none;
    background-color: #bc0a39;
    background-image: url("../images/button-mobile-bac.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%; }
    .tarifs_button:link {
      color: #fff; }
    .tarifs_button:visited {
      color: #fff; }
    .tarifs_button:hover {
      color: #fff; }
    .tarifs_button:active {
      color: #fff; }
    @media screen and (min-width: 800px) {
      .tarifs_button {
        margin: 0px 20px;
        display: block;
        padding: 0px 0px 6px 0px;
        font-size: 24px;
        line-height: 58px;
        background-image: url("../images/button-bac.jpg"); } }
    .tarifs_button:hover {
      background-image: url("../images/button-mobile-bac-h.jpg");
      cursor: pointer; }
      @media screen and (min-width: 800px) {
        .tarifs_button:hover {
          background-image: url("../images/button-bac-h.jpg"); } }

.individual {
  width: 280px;
  margin: 0 auto;
  padding: 22px 0px 30px 0px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(27, 28, 35, 0.4);
  box-shadow: inset 0px 0px 5px 5px rgba(27, 28, 35, 0.4); }
  @media screen and (min-width: 800px) {
    .individual {
      width: auto;
      padding: 50px 0px 50px 0px; } }
  .individual h3 {
    font-family: "robotoBold", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #fff; }
    @media screen and (min-width: 800px) {
      .individual h3 {
        font-family: "roboto", sans-serif;
        display: inline-block;
        font-size: 36px;
        padding-bottom: 35px; } }
  .individual p {
    color: #fff;
    margin-bottom: 15px; }
    @media screen and (min-width: 800px) {
      .individual p {
        font-family: "robotoBold", sans-serif;
        display: inline-block;
        font-size: 36px; } }

@media screen and (min-width: 800px) {
  .howto {
    padding-bottom: 50px; } }

.howto_row {
  *zoom: 1; }
  .howto_row:before, .howto_row:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .howto_row:after {
    clear: both; }

.howto_item {
  width: 280px;
  height: 257px;
  margin: 0 auto 24px auto;
  padding-top: 16px;
  border: 10px solid #ececec;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative; }
  .howto_item:before, .howto_item:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 40px 0 40px;
    border-color: #ececec transparent transparent transparent; }
  .howto_item:after {
    border-top: 25px solid #fff;
    bottom: -9px; }
  .howto_row:last-child .howto_item:last-child {
    border-color: #fcc400; }
    .howto_row:last-child .howto_item:last-child:before, .howto_row:last-child .howto_item:last-child:after {
      border: none; }
  .howto_item:hover {
    border-color: #f8c50f; }
    .howto_item:hover:before, .howto_item:hover:after {
      border-color: #f8c50f transparent transparent transparent; }
  @media screen and (min-width: 800px) {
    .howto_item {
      margin: 4px auto 20px auto; }
      .howto_row:nth-child(even) .howto_item {
        width: 29.90196%;
        float: left;
        margin-left: 1.71569%;
        margin-right: 1.71569%; }
        .howto_row:nth-child(even) .howto_item:before, .howto_row:nth-child(even) .howto_item:after {
          right: -25px;
          bottom: 50%;
          left: auto;
          margin: 0px 0px -33px 0px;
          border-width: 33px 0 33px 25px;
          border-color: transparent transparent transparent #ececec; }
        .howto_row:nth-child(even) .howto_item:after {
          border-left: 33px solid #fff;
          bottom: auto;
          right: -10px;
          bottom: 50%;
          left: auto; }
        .howto_row:nth-child(even) .howto_item:last-child:before, .howto_row:nth-child(even) .howto_item:last-child:after {
          right: auto;
          bottom: -25px;
          left: 50%;
          margin: 0px 0px 0px -40px;
          border-width: 25px 40px 0 40px;
          border-color: #ececec transparent transparent transparent; }
        .howto_row:nth-child(even) .howto_item:last-child:after {
          border-top: 25px solid #fff;
          bottom: -9px; }
        .howto_row:nth-child(even) .howto_item:last-child:hover {
          border-color: #f8c50f; }
          .howto_row:nth-child(even) .howto_item:last-child:hover:before, .howto_row:nth-child(even) .howto_item:last-child:hover:after {
            border-color: #f8c50f transparent transparent transparent; }
        .howto_row:nth-child(even) .howto_item:hover {
          border-color: #f8c50f; }
          .howto_row:nth-child(even) .howto_item:hover:before, .howto_row:nth-child(even) .howto_item:hover:after {
            border-color: transparent transparent transparent #f8c50f; }
      .howto_row:nth-child(odd) .howto_item {
        width: 29.90196%;
        float: right;
        margin-right: 1.71569%;
        margin-left: 1.71569%; }
        .howto_row:nth-child(odd) .howto_item:before, .howto_row:nth-child(odd) .howto_item:after {
          right: auto;
          bottom: 50%;
          left: -25px;
          margin: 0px 0px -33px 0px;
          border-width: 33px 25px 33px 0px;
          border-color: transparent #ececec transparent transparent; }
        .howto_row:nth-child(odd) .howto_item:after {
          border-right: 33px solid #fff;
          bottom: auto;
          left: -10px;
          bottom: 50%;
          right: auto; }
        .howto_row:nth-child(odd) .howto_item:last-child:before, .howto_row:nth-child(odd) .howto_item:last-child:after {
          right: auto;
          bottom: -25px;
          left: 50%;
          margin: 0px 0px 0px -40px;
          border-width: 25px 40px 0 40px;
          border-color: #ececec transparent transparent transparent; }
        .howto_row:nth-child(odd) .howto_item:last-child:after {
          border-top: 25px solid #fff;
          bottom: -9px; }
        .howto_row:nth-child(odd) .howto_item:last-child:hover {
          border-color: #f8c50f; }
          .howto_row:nth-child(odd) .howto_item:last-child:hover:before, .howto_row:nth-child(odd) .howto_item:last-child:hover:after {
            border-color: #f8c50f transparent transparent transparent; }
        .howto_row:nth-child(odd) .howto_item:hover {
          border-color: #f8c50f; }
          .howto_row:nth-child(odd) .howto_item:hover:before, .howto_row:nth-child(odd) .howto_item:hover:after {
            border-color: transparent #f8c50f transparent transparent; } }

.howto_descr {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 25px 25px 0px 25px;
  background-color: #f8c50f;
  z-index: 1;
  font-size: 18px;
  line-height: 20px;
  text-align: left; }
  .howto_item:hover .howto_descr {
    display: block; }

.howto_name {
  font-size: 18px;
  line-height: 21px; }
  .howto_name span {
    font-size: 27px; }

.clients {
  background-color: #f5f5f5;
  padding-bottom: 10px; }
  @media screen and (min-width: 800px) {
    .clients {
      background-color: inherit;
      padding-bottom: 55px; }
      .clients .inner {
        border-top: 1px solid #d9d7d7; } }
  .clients .bx-wrapper {
    position: relative;
    width: 181px;
    margin: -20px auto 0px auto; }
    @media screen and (min-width: 800px) {
      .clients .bx-wrapper {
        width: auto;
        margin-left: 60px;
        margin-right: 60px; } }
  .clients .bx-prev, .clients .bx-next {
    position: absolute;
    width: 15px;
    height: 32px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url("../images/clients-arrows.png") no-repeat;
    top: 50%;
    margin-top: -16px; }
  .clients .bx-prev {
    left: -58px; }
  .clients .bx-next {
    right: -58px;
    background-position: -15px 0px; }

@media screen and (min-width: 800px) {
  .reviews {
    background-color: #eaf0f3;
    padding-bottom: 70px; } }

@media screen and (min-width: 800px) {
  .reviews_inner {
    padding-top: 4px; } }

.reviews_item {
  width: 280px;
  margin: 0 auto 28px auto; }
  @media screen and (min-width: 800px) {
    .reviews_item {
      width: 32.44048%;
      float: left;
      margin-left: 0.44643%;
      margin-right: 0.44643%;
      background-color: #fff;
      padding-bottom: 19px; } }

.reviews_image {
  width: 100%;
  height: auto;
  display: block; }

.reviews_h3 {
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  background-color: #013b49; }

.reviews_quote {
  text-align: left;
  padding: 12px 0px 0px 11px; }
  @media screen and (min-width: 800px) {
    .reviews_quote {
      padding: 12px 22px 0px 22px; } }

.reviews_body {
  padding: 10px 0px 9px 11px;
  font-size: 16px;
  text-align: left; }
  @media screen and (min-width: 800px) {
    .reviews_body {
      padding: 12px 22px 12px 22px; } }

.reviews_link {
  color: #24a7c4; }
  .reviews_link:link {
    color: #24a7c4; }
  .reviews_link:visited {
    color: #24a7c4; }
  .reviews_link:hover {
    color: #24a7c4; }
  .reviews_link:active {
    color: #24a7c4; }

.reviews_button {
  display: none; }
  @media screen and (min-width: 800px) {
    .reviews_button {
      position: relative;
      z-index: 10;
      display: inline-block;
      padding: 0px 30px 6px 30px;
      border: none;
      border-left: 1px solid #e90f51;
      border-right: 1px solid #e90f51;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      color: #fff;
      font-size: 24px;
      line-height: 71px;
      text-decoration: none;
      background-image: url("../images/button-bac.jpg");
      background-repeat: repeat-x;
      background-size: auto 100%; }
      .reviews_button:link {
        color: #fff; }
      .reviews_button:visited {
        color: #fff; }
      .reviews_button:hover {
        color: #fff; }
      .reviews_button:active {
        color: #fff; } }
  .reviews_button:hover {
    background-image: url("../images/button-mobile-bac-h.jpg");
    cursor: pointer; }
    @media screen and (min-width: 800px) {
      .reviews_button:hover {
        background-image: url("../images/button-bac-h.jpg"); } }

.feedback {
  padding-bottom: 35px;
  background: url("../images/feedback-bac-480.jpg") 50% 50% no-repeat;
  background-size: cover; }
  @media screen and (min-width: 800px) {
    .feedback {
      background-image: url("../images/feedback-bac-1920.jpg");
      padding-bottom: 70px; } }
  .feedback_wrap {
    *zoom: 1; }
    .feedback_wrap:before, .feedback_wrap:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .feedback_wrap:after {
      clear: both; }
  .feedback h2 {
    color: #ffffff; }
    .feedback h2 + p {
      margin: -27px 0px 14px 0px;
      font-size: 18px;
      line-height: 25px;
      color: #fff;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (min-width: 800px) {
        .feedback h2 + p {
          margin: -27px 0px 45px 0px;
          font-size: 48px;
          line-height: 35px; } }
  .feedback_form {
    width: 280px;
    margin: 0 auto; }
    @media screen and (min-width: 800px) {
      .feedback_form {
        width: auto; } }
  .feedback .button {
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 0px 14px 6px 14px; }
    @media screen and (min-width: 800px) {
      .feedback .button {
        font-size: 24px;
        padding: 0px 95px 6px 95px;
        width: auto;
        margin-top: 25px; } }
  .feedback_inner {
    margin-bottom: 10px; }
    @media screen and (min-width: 800px) {
      .feedback_inner {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        margin: 0px;
        padding: 5px; } }
    @media screen and (min-width: 800px) {
      .feedback_inner__textarea {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left; } }
    .feedback_inner input {
      padding: 0px 7px;
      border: 1px solid #c9c7c7;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      line-height: 36px;
      width: 100%;
      opacity: 0.5; }
      .feedback_inner input.error {
        border-color: red;
        -webkit-box-shadow: 0px 0px 2px 0px red;
        box-shadow: 0px 0px 2px 0px red; }
      @media screen and (min-width: 800px) {
        .feedback_inner input {
          font-size: 18px;
          line-height: 62px;
          padding: 0px 18px;
          opacity: 0.7; }
          .feedback_inner input::-webkit-input-placeholder {
            /* Safari, Chrome and Opera */
            color: #191919;
            opacity: 1; }
          .feedback_inner input:-moz-placeholder {
            /* Firefox 18- */
            color: #191919;
            opacity: 1; }
          .feedback_inner input::-moz-placeholder {
            /* Firefox 19+ */
            color: #191919;
            opacity: 1; }
          .feedback_inner input:-ms-input-placeholder {
            /* IE 10+ */
            color: #191919;
            opacity: 1; }
          .feedback_inner input::-ms-input-placeholder {
            /* Edge */
            color: #191919;
            opacity: 1; }
          .feedback_inner input:placeholder-shown {
            /* Standard one last! */
            color: #191919;
            opacity: 1; } }
    .feedback_inner textarea {
      padding: 0px 7px;
      border: 1px solid #c9c7c7;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      line-height: 36px;
      width: 100%;
      opacity: 0.5; }
      .feedback_inner textarea.error {
        border-color: red;
        -webkit-box-shadow: 0px 0px 2px 0px red;
        box-shadow: 0px 0px 2px 0px red; }
      @media screen and (min-width: 800px) {
        .feedback_inner textarea {
          height: 145px;
          font-size: 18px;
          padding: 18px;
          opacity: 0.7; }
          .feedback_inner textarea::-webkit-input-placeholder {
            /* Safari, Chrome and Opera */
            color: #191919;
            opacity: 1; }
          .feedback_inner textarea:-moz-placeholder {
            /* Firefox 18- */
            color: #191919;
            opacity: 1; }
          .feedback_inner textarea::-moz-placeholder {
            /* Firefox 19+ */
            color: #191919;
            opacity: 1; }
          .feedback_inner textarea:-ms-input-placeholder {
            /* IE 10+ */
            color: #191919;
            opacity: 1; }
          .feedback_inner textarea::-ms-input-placeholder {
            /* Edge */
            color: #191919;
            opacity: 1; }
          .feedback_inner textarea:placeholder-shown {
            /* Standard one last! */
            color: #191919;
            opacity: 1; } }
  .feedback_submit {
    position: relative; }
    .feedback_submit input {
      width: 100%;
      text-align: center;
      font-size: 15px;
      padding: 0px 14px 6px 14px;
      position: relative;
      z-index: 10;
      display: inline-block;
      border: none;
      border-left: 1px solid #e90f51;
      border-right: 1px solid #e90f51;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      line-height: 47px;
      color: #fff;
      text-decoration: none;
      background-color: #bc0a39;
      background-image: url("../images/button-mobile-bac.jpg");
      background-repeat: repeat-x;
      background-size: auto 100%; }
      .feedback_submit input:link {
        color: #fff; }
      .feedback_submit input:visited {
        color: #fff; }
      .feedback_submit input:hover {
        color: #fff; }
      .feedback_submit input:active {
        color: #fff; }
      @media screen and (min-width: 800px) {
        .feedback_submit input {
          line-height: 71px;
          background-image: url("../images/button-bac.jpg");
          font-size: 24px;
          padding: 0px 95px 6px 95px;
          width: auto;
          margin-top: 25px; } }
      .feedback_submit input:hover {
        background-image: url("../images/button-mobile-bac-h.jpg");
        cursor: pointer; }
        @media screen and (min-width: 800px) {
          .feedback_submit input:hover {
            background-image: url("../images/button-bac-h.jpg"); } }
    .feedback_submit .ajax-progress {
      position: absolute;
      z-index: 11;
      top: 50%;
      right: -28px;
      margin-top: -7px; }
      @media screen and (min-width: 800px) {
        .feedback_submit .ajax-progress {
          right: -35px;
          margin-top: -2px; } }
      .feedback_submit .ajax-progress .throbber {
        background: transparent url("../images/popup-loader.gif") no-repeat 0px 0px;
        float: left;
        height: 25px;
        width: 25px;
        margin: 0px; }
  .feedback .messages {
    display: none; }

.footer {
  height: 410px; }
  .footer_wrap {
    padding: 15px; }
  .footer_phone {
    font-size: 22px;
    margin-bottom: 18px;
    padding-left: 25px;
    position: relative; }
    .footer_phone:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0px;
      width: 17px;
      height: 17px;
      background: url("../images/footer-phone.png") no-repeat; }
  .footer_address {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 18px;
    padding-left: 25px;
    position: relative; }
    .footer_address:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0px;
      width: 14px;
      height: 19px;
      background: url("../images/footer-address.png") no-repeat; }

.popup {
  width: 280px;
  padding: 29px; }
  @media screen and (min-width: 800px) {
    .popup {
      width: 540px;
      padding: 52px 79px 49px 79px; } }
  .popup_title {
    font-family: "robotoBold", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px; }
    @media screen and (min-width: 800px) {
      .popup_title {
        font-size: 46px;
        line-height: 38px;
        margin-bottom: 20px; } }
  .popup_inner {
    margin-bottom: 6px; }
    @media screen and (min-width: 800px) {
      .popup_inner {
        margin-bottom: 10px; } }
    .popup_inner input {
      border: 1px solid #191a20;
      width: 100%;
      padding: 0px 8px;
      font-size: 12px;
      line-height: 38px; }
      .popup_inner input::-webkit-input-placeholder {
        /* Safari, Chrome and Opera */
        color: #101111;
        opacity: 1; }
      .popup_inner input:-moz-placeholder {
        /* Firefox 18- */
        color: #101111;
        opacity: 1; }
      .popup_inner input::-moz-placeholder {
        /* Firefox 19+ */
        color: #101111;
        opacity: 1; }
      .popup_inner input:-ms-input-placeholder {
        /* IE 10+ */
        color: #101111;
        opacity: 1; }
      .popup_inner input::-ms-input-placeholder {
        /* Edge */
        color: #101111;
        opacity: 1; }
      .popup_inner input:placeholder-shown {
        /* Standard one last! */
        color: #101111;
        opacity: 1; }
      .popup_inner input.error {
        border-color: red;
        -webkit-box-shadow: 0px 0px 2px 0px red;
        box-shadow: 0px 0px 2px 0px red; }
      @media screen and (min-width: 800px) {
        .popup_inner input {
          font-size: 18px;
          line-height: 68px; } }
  .popup_submit {
    position: relative; }
    .popup_submit input {
      position: relative;
      z-index: 10;
      display: inline-block;
      width: 100%;
      padding: 0px 0px 6px 0px;
      margin-top: 10px;
      border: none;
      border-left: 1px solid #e90f51;
      border-right: 1px solid #e90f51;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      font-size: 18px;
      line-height: 47px;
      color: #fff;
      text-decoration: none;
      background-color: #bc0a39;
      background-image: url("../images/button-mobile-bac.jpg");
      background-repeat: repeat-x;
      background-size: auto 100%; }
      .popup_submit input:link {
        color: #fff; }
      .popup_submit input:visited {
        color: #fff; }
      .popup_submit input:hover {
        color: #fff; }
      .popup_submit input:active {
        color: #fff; }
      @media screen and (min-width: 800px) {
        .popup_submit input {
          font-size: 30px;
          line-height: 69px;
          background-image: url("../images/button-bac.jpg");
          margin-top: 20px; } }
      .popup_submit input:hover {
        background-image: url("../images/button-mobile-bac-h.jpg");
        cursor: pointer; }
        @media screen and (min-width: 800px) {
          .popup_submit input:hover {
            background-image: url("../images/button-bac-h.jpg"); } }
    .popup_submit .ajax-progress {
      position: absolute;
      z-index: 11;
      top: 50%;
      right: -28px;
      margin-top: -7px; }
      @media screen and (min-width: 800px) {
        .popup_submit .ajax-progress {
          right: -35px;
          margin-top: -2px; } }
      .popup_submit .ajax-progress .throbber {
        background: transparent url("../images/popup-loader.gif") no-repeat 0px 0px;
        float: left;
        height: 25px;
        width: 25px;
        margin: 0px; }
  .popup .messages {
    display: none; }
