.button{
  display: inline-block;
  padding: 0px 27px 6px 27px;
  border: none;
  border-left: 1px solid #e90f51;
  border-right: 1px solid #e90f51;
  border-radius: 7px;
  font-size: 18px;
  line-height: 47px;
  @include link(#fff, #fff);
  text-decoration: none;
  background-color: #bc0a39;
  background-image: url('../images/button-mobile-bac.jpg'); 
  background-repeat: repeat-x;
  background-size: auto 100%;
  /*@media all and (min-width: 481px) {
    padding: 0px 55px 6px 55px;
    font-size: 30px;
    line-height: 71px;
    background-image: url('../images/button-bac.jpg');
  }*/
  &:hover{
    background-image: url('../images/button-mobile-bac-h.jpg');
    cursor: pointer;
    /*@media all and (min-width: 481px) {
      background-image: url('../images/button-bac-h.jpg');
    }*/
  }
}