.call{
  padding: 23px 0px 15px 0px;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 18px;
  &_phone{
    font-family: "GothaProBold", sans-serif;
    font-size: 18px;
    line-height: 43px;
    color: #ce0137;
  }
}