.feedback{
  padding-bottom: 35px;
  background: url('../images/feedback-bac-480.jpg') 50% 50% no-repeat;
  background-size: cover;
  @include wide {
    background-image: url('../images/feedback-bac-1920.jpg');
    padding-bottom: 70px;
  }
  &_wrap{
    @include clearfix;
  }
  h2{
    color: #ffffff;
    & + p{
      margin: -27px 0px 14px 0px;
      font-size: 18px;
      line-height: 25px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      @include wide {
        margin: -27px 0px 45px 0px;
        font-size: 48px;
        line-height: 35px;
      }
    }
  }
  &_form{
    width: 280px;
    margin: 0 auto;
    @include wide{
      width: auto;
    }
  }
  .button{
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 0px 14px 6px 14px;
    @include wide {
      font-size: 24px;
      padding: 0px 95px 6px 95px;
      width: auto;
      margin-top: 25px;
    }
  }
  &_inner{
    margin-bottom: 10px;
    @include wide{
      @include span(4);
      margin: 0px;
      padding: 5px;
    }
    &__textarea{
      @include wide{
        @include span(12);
      }
    }
    input{
      padding: 0px 7px;
      border: 1px solid #c9c7c7;
      border-radius: 3px;
      line-height: 36px;
      width: 100%;
      opacity: 0.5;
      &.error{
        border-color: red;
        box-shadow: 0px 0px 2px 0px rgba(255,0,0,1);
      }
      @include wide {
        font-size: 18px;
        line-height: 62px;
        padding: 0px 18px;
        opacity: 0.7;
        @include placeholder(#191919);
      }
    }
    textarea{
      padding: 0px 7px;
      border: 1px solid #c9c7c7;
      border-radius: 3px;
      line-height: 36px;
      width: 100%;
      opacity: 0.5;
      &.error{
        border-color: red;
        box-shadow: 0px 0px 2px 0px rgba(255,0,0,1);
      }
      @include wide {
        height: 145px;
        font-size: 18px;
        padding: 18px;
        opacity: 0.7;
        @include placeholder(#191919);
      }
    }
  }
  &_submit{
    position: relative;
    padding: 0 5px;
    input{
      width: 100%;
      text-align: center;
      font-size: 15px;
      padding: 0px 14px 6px 14px;
      position: relative;
      z-index: 10;
      display: inline-block;
      border: none;
      border-left: 1px solid #e90f51;
      border-right: 1px solid #e90f51;
      border-radius: 7px;
      line-height: 47px;
      @include link(#fff, #fff);
      text-decoration: none;
      background-color: #bc0a39;
      background-image: url('../images/button-mobile-bac.jpg'); 
      background-repeat: repeat-x;
      background-size: auto 100%;
      @include wide {
        line-height: 71px;
        background-image: url('../images/button-bac.jpg');
        font-size: 24px;
        padding: 0px 95px 6px 95px;
        width: auto;
        margin-top: 25px;
      }
      &:hover{
        background-image: url('../images/button-mobile-bac-h.jpg');
        cursor: pointer;
        @include wide {
          background-image: url('../images/button-bac-h.jpg');
        }
      }
    }
    .ajax-progress{
      position: absolute;
      z-index: 11;
      bottom: 15px;
      right: -28px;
      @include wide{
        right: 50%;
        margin-right: -190px;
        bottom: 25px;
      }
      .throbber {
        background: transparent url('../images/popup-loader.gif') no-repeat 0px 0px;
        float: left;
        height: 25px;
        width: 25px;
        margin: 0px;
      }
    }
  }
  .messages{
    display: none;
  }
}