.header{
  position: relative;
  padding: 42px 0px 0px 0px;
  min-height: 350px;
  @include wide {
    padding: 0px;
  }
  &_top{
    @include clearfix;
    position: relative;
    z-index: 10;
    @include wide {
      border-bottom: 1px solid #6d6e6d;
      padding-bottom: 5px;
    }
  }
  &_logo{
    display: none;
    padding-top: 12px;
    text-align: left;
    @include wide {
      @include span(4 of rtl);
      display: block;
    }
  }
  &_address{
    @include wide {
      padding-top: 29px;
      @include span(5 of rtl);
    }
  }
  &_phone{
    @include wide {
      padding-top: 29px;
      @include span(3 of rtl);
    }
  }
}