.magazines{
  padding-top: 30px;
  @include clearfix;
  @include wide{
    padding-bottom: 35px;
  }
  &_item{
    width: 280px;
    margin: 0 auto;
    padding-bottom: 38px;
    @include wide{
      @include span(6);
      padding-left: 55px;
      padding-right: 55px;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  &_descr{
    font-size: 16px;
    line-height: 17px;
    color: #1b1b1b;
    margin-bottom: 23px;
    @include wide{
      font-size: 18px;
      line-height: 18px;
      padding: 0px 35px;
      margin-bottom: 13px;
    }
  }
  &_link{
    font-size: 18px;
    padding: 1px 8px 5px 8px;
    @include link(#ce0137, #ce0137);
    text-decoration: none;
    border: 1px dashed #ce0137;
    border-radius: 5px;
  }
}