.menu{
  position: relative;
  z-index: 20;
  @include wide{
    margin-bottom: 138px;
  }
  &_toggle{
    display: block;
    width: 28px;
    height: 17px;
    margin: 11px auto 0px auto;
    @include wide{
      display: none;
    }
    span:after, span:before{
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
    }
    span:after{
      top: 12px;
    }
    span{
      position: relative;
      display: block;
    }
    span, span:after, span:before{
      width: 100%;
      height: 5px;
      background-color: #fff;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
    }   
    &__on{
      span{
        background-color: transparent;
      }
    }
    &__on{
      span:before{
        transform: rotate(30deg) translate(0px, 0px);
      }
    }
    &__on{
      span:after{
        transform: rotate(-30deg) translate(3px, -5px);
      }
    }
  }
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 37px;
  opacity: 0.95;
  overflow: hidden;
  transition-property: background-color, height;
  transition-duration: 0.2s;
  transition-delay: 0.5s, 0s;
  @include wide{
    position: static;
    height: auto;
  }
  &__on{
    height: 100%;
    background-color: #000000;
    transition-delay: 0s, 0s;
  }
  &_list{
    margin-top: 40px;
    @include wide{
      margin: 0px;
      text-align: justify;
      line-height: 0;
      font-size: 1px;
      @include old-ie{
        *text-justify: newspaper;
        *zoom:1;
      }
      text-align-last: justify;
      &:after{
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
      }
    }
  }
  &_item{
    text-align: center;
    @include wide{
      display: inline-block;
      text-align: left;
      /* Востанавливаем у потомков, кроме последнего*/
      line-height: normal;
      /* Без него в Opera будет отступ под элементами */
      vertical-align: top;
      @include old-ie{
        /* эмуляция inline-block для IE6-7*/
        *display : inline;
        *zoom : 1;
      }
    }
  }
  &_link{
    @include link(#fff, #fff);
    text-decoration: none;
    font-size: 18px;
    line-height: 36px;
    @include wide{
      font-size: 15px;
      line-height: 45px;
    }
  }
}