.popup{
	width: 280px;
	padding: 29px;
	@include wide{
		width: 540px;
		padding: 52px 79px 49px 79px;
	}
	&_title{
		font-family: "robotoBold", sans-serif;
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
		@include wide{
			font-size: 46px;
			line-height: 38px;
			margin-bottom: 20px;
		}
	}
	&_inner{
		margin-bottom: 6px;
		@include wide{
			margin-bottom: 10px;
		}
		input{
			border: 1px solid #191a20;
			width: 100%;
			padding: 0px 8px;
			font-size: 12px;
			line-height: 38px;
			@include placeholder(#101111);
			&.error{
		  	border-color: red;
		  	box-shadow: 0px 0px 2px 0px rgba(255,0,0,1);
		  }
			@include wide{
				font-size: 18px;
				line-height: 68px;
			}
		}
	}
	&_submit{
		position: relative;
		input{
			position: relative;
		  z-index: 10;
		  display: inline-block;
		  width: 100%;
		  padding: 0px 0px 6px 0px;
		  margin-top: 10px;
		  border: none;
		  border-left: 1px solid #e90f51;
		  border-right: 1px solid #e90f51;
		  border-radius: 7px;
		  font-size: 18px;
		  line-height: 47px;
		  @include link(#fff, #fff);
		  text-decoration: none;
		  background-color: #bc0a39;
		  background-image: url('../images/button-mobile-bac.jpg'); 
		  background-repeat: repeat-x;
		  background-size: auto 100%;
		  @include wide {
		    font-size: 30px;
		    line-height: 69px;
		    background-image: url('../images/button-bac.jpg');
		    margin-top: 20px;
		  }
			&:hover{
		    background-image: url('../images/button-mobile-bac-h.jpg');
		    cursor: pointer;
		    @include wide {
		      background-image: url('../images/button-bac-h.jpg');
		    }
		  }
		}
		.ajax-progress{
	    position: absolute;
	    z-index: 11;
	    top: 50%;
	    right: -28px;
	    margin-top: -7px;
	    @include wide{
	    	right: -35px;
	    	margin-top: -2px;
	    }
	    .throbber {
	      background: transparent url('../images/popup-loader.gif') no-repeat 0px 0px;
	      float: left;
	      height: 25px;
	      width: 25px;
	      margin: 0px;
	    }
	  }
	}
	.messages{
		display: none;
	}
}