.portfolio{
	padding-bottom: 35px;
	background-color: #131418;
	background: radial-gradient(ellipse at center, rgba(61,65,79,1) 0%, rgba(19,20,24,1) 100%);
	h2{
		color: #ffffff;
	}
	&_inner{
		margin-bottom: 28px;
	}
	&_item{
		display: block;
		width: 300px;
		margin: 0 auto;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		img{
			display: block;	
			width: 100%;
			height: auto;
		}
		&:first-child{
			border-top: 1px solid #000;
			&:hover{
				border-top: 1px solid #fcc400;
			}
		}
		&:hover{
			border-left: 1px solid #fcc400;
			border-right: 1px solid #fcc400;
			border-bottom: 1px solid #fcc400;
			outline: 9px solid #fcc400;
			img{
				opacity: 0.5;
			}
		}
	}
}