.reviews{
  @include wide{
    background-color: #eaf0f3;
  }
  &_inner{
    @include wide{
      padding-top: 4px;
    }
  }
  &_item{
    width: 280px;
    margin: 0 auto 28px auto;
    @include wide{
      @include span(4 (gutters: 0.12, gutter-position: split));
      background-color: #fff;
      padding-bottom: 19px;
    }
  }
  &_image{
    width: 100%;
    height: auto;
    display: block;
  }
  &_h3{
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: #013b49;
  }
  &_quote{
    text-align: left;
    padding: 12px 0px 0px 11px;
    @include wide{
      padding: 12px 22px 0px 22px;
    }
  }
  &_body{
    padding: 10px 0px 9px 11px;
    font-size: 16px;
    text-align: left;
    @include wide{
      padding: 12px 22px 12px 22px;
    }
  }
  &_link{
    @include link(#24a7c4, #24a7c4);
  }
}