.reviews{
  @include wide{
    background-color: #eaf0f3;
    padding-bottom: 70px;
  }
  &_inner{
    @include wide{
      padding-top: 4px;
    }
  }
  &_item{
    width: 280px;
    margin: 0 auto 28px auto;
    @include wide{
      @include span(4 (gutters: 0.12, gutter-position: split));
      background-color: #fff;
      padding-bottom: 19px;
    }
  }
  &_image{
    width: 100%;
    height: auto;
    display: block;
  }
  &_h3{
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: #013b49;
  }
  &_quote{
    text-align: left;
    padding: 12px 0px 0px 11px;
    @include wide{
      padding: 12px 22px 0px 22px;
    }
  }
  &_body{
    padding: 10px 0px 9px 11px;
    font-size: 16px;
    text-align: left;
    @include wide{
      padding: 12px 22px 12px 22px;
    }
  }
  &_link{
    @include link(#24a7c4, #24a7c4);
  }
  &_button{
    display: none;
    @include wide {
      position: relative;
      z-index: 10;
      display: inline-block;
      padding: 0px 30px 6px 30px;
      border: none;
      border-left: 1px solid #e90f51;
      border-right: 1px solid #e90f51;
      border-radius: 7px;
      @include link(#fff, #fff);
      font-size: 24px;
      line-height: 71px;
      text-decoration: none;
      background-image: url('../images/button-bac.jpg');
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
    &:hover{
      background-image: url('../images/button-mobile-bac-h.jpg');
      cursor: pointer;
      @include wide {
        background-image: url('../images/button-bac-h.jpg');
      }
    }
  }
}