.reviews{
  &_item{
    width: 280px;
    margin: 0 auto 28px auto;
  }
  &_image{
    width: 100%;
    height: auto;
    display: block;
  }
  &_h3{
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: #013b49;
  }
  &_quote{
    text-align: left;
    padding: 12px 0px 0px 11px;
  }
  &_body{
    padding: 10px 0px 9px 0px;
    font-size: 14px;
    text-align: left;
    padding-left: 11px;
  }
  &_link{
    @include link(#24a7c4, #24a7c4);
  }
}