.slider{
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  .bx-viewport, .bx-wrapper{
    position: relative;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
  }
  .bx-wrapper .bx-viewport{
    border: none !important;
  }
  .bx-controls{
    position: absolute;
    z-index: 100;
    bottom: 17px;
    width: 100%;
    @include wide{
      bottom: 27px;
    }
  }
  .bx-pager{
    width: 100%;
    text-align: center;
  }
  .bx-pager-item{
    display: inline-block;
    margin: 0px 10px;
  }
  .bx-pager-link{
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
    height: 7px;
    border: 1px solid #fff;
    border-radius: 3px;
    opacity: 0.35;
    &.active, &:hover{
      background-color: #fff;
    }
    @include wide{
      width: 140px;
    }
  }
  &_list{
    height: 100% !important;
  }
  &_item{
    height: 100% !important;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    &__1{
      background-image: url('../images/header-bac-480-4.jpg');
      @include wide {
        background-image: url('../images/header-bac-1920-4.jpg');
      }
    }
    &__2{
      background-image: url('../images/header-bac-480-2.jpg');
      @include wide {
        background-image: url('../images/header-bac-1920-2.jpg');
      }
    }
    &__3{
      background-image: url('../images/header-bac-480-3.jpg');
      @include wide {
        background-image: url('../images/header-bac-1920-3.jpg');
      }
    }
    &__4{
      background-image: url('../images/header-bac-480-1.jpg');
      @include wide {
        background-image: url('../images/header-bac-1920-1.jpg');
      }
    }
  }
}