.tarifs{
  background-color: #131418;
  //background: radial-gradient(ellipse at center, rgba(61,65,79,1) 0%, rgba(19,20,24,1) 100%);
  padding-bottom: 30px;
  h2{
    color: #ffffff;
  }
  &_item{
    width: 280px;
    margin: 0px auto 30px auto;
    padding: 60px 0px 30px 0px;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
  }
  &_h3{
    font-family: "robotoBold", sans-serif;
    font-size: 16px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 20;
    &__red{
      transform: rotate(0deg);
      &:before{
        content: "";
        background-color: #c20034;
        position: absolute;
        left: -50%;
        top: 0px;
        width: 200%;
        height: 100%;
        z-index: -1;
        transform: rotate(-10deg);
      }
    }
    &__yellow{
      transform: rotate(0deg);
      &:before{
        content: "";
        background-color: #fcc400;
        position: absolute;
        left: -50%;
        top: 0px;
        width: 200%;
        height: 100%;
        z-index: -1;
        transform: rotate(-10deg);
      }
    }
    &__green{
      transform: rotate(0deg);
      &:before{
        content: "";
        background-color: #04858a;
        position: absolute;
        left: -50%;
        top: 0px;
        width: 200%;
        height: 100%;
        z-index: -1;
        transform: rotate(-10deg);
      }
    }
  }
  &_p{
    font-size: 30px;
    line-height: 60px;
    margin-top: -25px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
    position: relative;
    z-index: 10;
    transform: rotate(0deg);
    &:before{
      content: "";
      background-color: #f5f5f5;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 87%;
      height: 100%;
      z-index: -1;
      transform: rotate(6deg);
      transform-origin: 100% 100%;
      transition: all 0.2s;
    }
    &__red{
      color: #c20034;
    }
    &__yellow{
      color: #fcc400;
    }
    &__green{
      color: #04858a;
    }
    span{
      font-family: "robotoBold", sans-serif;
    }
  }
  &_list{
    padding: 0px 15px;
    margin-bottom: 12px;
  }
  &_row{
    color: #131418;
    font-size: 16px;
    line-height: 19px;
    border-top: 1px solid #ebebeb;
    padding: 11px 0px 14px 0px;
    text-align: left;
    &:first-child{
      border: none;
    }
  }
}