@import "../../app/bower_components/susy/sass/_susy.scss";
// Susy
$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  flow: ltr,

  /*debug: (
    image: show,
    color: rgba(#66f, .5),
    output: background,
    toggle: top right,
  )*/
);
//gutters - пробелы между колонками составляют 1/4 от расстояния целой колонки
body{
  font-family: "GothaProReg", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  //-webkit-font-smoothing: antialised;
  min-width: 300px;
}
.inner{
  @include container(300px);
  @media all and (min-width: 481px) {
    @include container(960px);
  }
  text-align: center;
}
h1{
  font-family: "GothaProBlack", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  & + p{
    margin-bottom: 29px;
    font-size: 11px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
}
b, strong{
  font-family: "GothaProBold", sans-serif;
}
.about{
  
}
.test{
  //background-color: #fff;
  //@include span(12);
  @media all and (min-width: 481px) {
    @include span(4);
    &:last-child{
      @include span(4 last);
    }
  }
}
*{
  box-sizing: border-box;
}

textarea{
  resize: none;
  box-shadow: none;
  border-radius: 0px;
}
input{
  box-shadow: none;
  border-radius: 0px;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
  border-radius: 0px;
}
a, input, textarea{
  &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
.inner{

}