@import "../../app/bower_components/susy/sass/_susy.scss";
// Susy
$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  flow: ltr,

  /*debug: (
    image: show,
    color: rgba(#66f, .5),
    output: background,
    toggle: top right,
  )*/
);
//gutters - пробелы между колонками составляют 1/4 от расстояния целой колонки
body{
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #1b1b1b;
  //-webkit-font-smoothing: antialised;
  min-width: 320px;
}
.inner{
  @include container(320px);
  @include wide {
    @include container(960px);
  }
  text-align: center;
}
h1{
  font-family: "robotoBold", sans-serif;
  font-size: 22px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  @include wide {
    font-size: 72px;
    line-height: 60px;
  }
  & + p{
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    @include wide {
      margin-bottom: 32px;
      font-size: 36px;
      line-height: 66px;
    }
  }
}
h2{
  font-family: "roboto", sans-serif;
  color: #1b1b1b;
  font-size: 18px;
  text-transform: uppercase;
  padding: 26px 0px 28px 0px;
  b, strong{
    font-family: "robotoBold", sans-serif;
  }
}
b, strong{
  font-family: "robotoBold", sans-serif;
}
.about{
  
}
.test{
  //background-color: #fff;
  //@include span(12);
  @include wide {
    @include span(4);
    &:last-child{
      @include span(4 last);
    }
  }
}
*{
  box-sizing: border-box;
}

textarea{
  resize: none;
  box-shadow: none;
  border-radius: 0px;
}
input{
  box-shadow: none;
  border-radius: 0px;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
  //border-radius: 0px;
}
a, input, textarea{
  &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
.inner{

}